*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
header{
	
	width: 1400px;
	height: 60px;
    padding: 1em;
    color: gold;
    background-color: silver;
    clear: left;
    text-align: center;
}


nav ul {
	margin-top: 20px;
	margin-right: 60px;
	float: right;
}
   
nav ul li{
	float: left;
	list-style: none;
	margin-right: 20px;
}
nav ul li a {
	
    text-decoration: underline;
	color: #fff;
	font-family: Arial;
	font-size: 16px;
}
nav ul form{
	float:left;
}
nav ul form input{
	float:left;
	border:none;
	margin-right:6px;
}

nav ul form button{
	float:left;
	border:none;
	margin-right:20px;
	background-color:#fff;
	color: #222;
	cursor: pointer;
}