*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
nav ul {
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F1C40F;
}

nav li { 
display: inline; 
 
float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-family: ;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
    font-size: 150%;
    font-family: ;
    color: #212F3D;


}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {background-color: #f1f1f1}

nav .dropdown:hover .dropdown-content {
    display: block;
}
nav ul form{
	float:left;
}
nav ul form input{
	float:left;
	border:none;
	margin-right:6px;
}

nav ul form button{
	float:left;
	border:none;
	margin-right:20px;
	background-color:#fff;
	color: #222;
	cursor: pointer;
}